<article id="About" class="about">
  <div class="container">
        <h1>
          <a name="about-the-knb"></a>
          <i class="glyphicons-icon leaf"></i>
          About 
        </h1>
        <div class="row-fluid">
        <p>
	The Live Learning Library has been established as an open-source data repository to record, share, and monitor ecological information from <a href="http://uq.edu.au">The University of Queensland</a>'s<a href="http://www.uq.edu.au/heron-island-research-station/"> Heron Island Research Station</a>. The aim of this data repository is to create a comprehensive record of environmental data collected as a result of education activities conducted at the facility; and make that data available to students, researchers, regulatory agencies, and the general public. 
        </p>
        <p>
	Much of the data uploaded is the result of the Live Learning Program (LLP), which has been designed to establish field-based activities for secondary and tertiary education groups that will form long-term data sets and enhance the student learning experience. Activities include running transects and quadrats, as well as various sampling and collection exercises. Teaching groups benefit from being involved in real-time hands-on data acquisition that has tangible, long-term outcomes. Currently conducted on Heron Island, the LLP activities enhance the Live Learning Library datasets, while directly linking to relevant secondary school marine science syllabi. By keeping a catalogue of student observations, we create a comprehensive record of the reef that researchers and regulatory agencies can use to monitor changes, and that anyone can use to learn more about the Great Barrier Reef.
	</p>
	<p>
	The Live Learning Library and the Live Learning Program have been developed based on ideas from Dr. Clint Chapman and Dr. Elizabeth Perkins. Clint and Elizabeth saw a need for the collection and compilation of long-term open-access datasets, and an opportunity to provide a means to retain and manage such data. <a href="http://www.uq.edu.au/heron-island-research-station/"> Heron Island Research Station</a> was identified as an ideal location to compile such a dataset as it attracts over 2,500 visitors for field coursework every year. These teaching groups are often repeat visitors to the island that conduct the same courses to develop the same techniques with a new group of students. Once assignments are completed data is not retained and therefore only has short-term value. After taking this premise to the <a href="https://barrierreef.org">Great Barrier Reef Foundation</a> who helped foster a partnership with Boeing; Heron Island’s Education Officer Lauren Bailey was tasked with developing a set of activities for schools to conduct that would align to the Queensland and New South Wales school curriculum. To develop a repository that would house these datasets, the Program partnered with the <a href="http://tern.org.au">Terrestrial Ecosystem Research Network (TERN)</a>, with the Live Learning Library build led by Siddeswara Guru. Through overall management by Project Officers Lucy Hurrey and Phoebe Baldwin, the Live Learning Library and the Live Learning Program were launched in August, 2017.
       </p>
      <p>
	Our data management software is developed in a free and open-source manner so other groups can build upon the tools. This repository is powered by the Metacat data management system, and is optimized for handling data sets described using the Ecological Metadata Language, but can store any XML-based metadata document. 
     </p>
    </div>
    <div class="row-fluid">
      <div class="text-left">
        <h2>
          Governance
        </h2>
	  <p>The Live Learning Library is managed by <a href="http://science.uq.edu.au/">The University of Queensland’s Faculty of Science</a>, <a href="https://uq.edu.au/heron-island-research-station/">Heron Island Research Station</a>, and the <a href="http://tern.org.au">Terrestrial Ecosystem Research Network (TERN)</a> Office, hosted by <a href="https://uq.edu.au">The University of Queensland</a>. </p>
      </div>
    </div>
    <div class="row-fluid">
    	<h2>
            Partners            
        </h2>
        <p>
The Live Learning Project and the Live Learning Library is generously supported by the <a href="https://barrierreef.org">Great Barrier Reef Foundation</a>, Boeing, and the <a href="http://tern.org.au">Terrestrial Ecosystem Research Network (TERN)</a>.
        </p>
    </div>
  <div class="row-fluid">
   	<div class="text-left">
   		<h2>
   			<a name="credits">Credits</a>
   		</h2>
   		<p>
   			The photographs used in this web interface were generously provided by the <a href="https://uq.edu.au/heron-island-research-station/">Heron Island Research Station</a>.
	        </p>
   			<ul id="credits" class="indent plain-list">
				<li>Moonrise - Elizabeth Perkins</li>
				<li>Turtle Hatchling - Bec Tite</li>
				<li>Sunset - Elizabeth Perkins</li>
				<li>Leopard Shark - Elizabeth Perkins</li>
				<li>Silvereye - Elizabeth Perkins</li>
				<li>The Protector - Kathy La Fauce</li>
				<li>Night Sky - Chrissy Harris</li>
				<li>Sea Slug - Bec Tite</li>


   			</ul>

   	</div>
   </div>
  </div>
</article>

