<img src="" class="bg" id="bg_image" data-image-count="9" />
 	<div id="header" class="auto-height-member site-header">
  		<div class="site-header__global-menu">
		    <div class="global-menu hide-for-small-only">
		      <ul class="global-menu__list">
		        <li class="global-menu__item"><a href="https://www.uq.edu.au/" accesskey="1" class="global-menu__link">UQ Home</a></li>
		        <li class="global-menu__item"><a href="https://www.uq.edu.au/contacts/" accesskey="2" class="global-menu__link">Contacts</a></li>
		        <li class="global-menu__item"><a href="https://www.uq.edu.au/study/" accesskey="3" class="global-menu__link">Study</a></li>
		        <li class="global-menu__item"><a href="https://www.uq.edu.au/maps/" accesskey="4" class="global-menu__link">Maps</a></li>
		        <li class="global-menu__item"><a href="https://www.uq.edu.au/news/" accesskey="5" class="global-menu__link">News</a></li>
		        <li class="global-menu__item"><a href="https://www.uq.edu.au/events/" accesskey="6" class="global-menu__link">Events</a></li>
		        <li class="global-menu__item"><a href="https://www.library.uq.edu.au/" accesskey="7" class="global-menu__link">Library</a></li>
		        <li class="global-menu__item"><a href="https://www.uq.edu.au/giving/" class="global-menu__link">Give now</a></li>
		        <li class="global-menu__item"><a href="https://my.uq.edu.au/" accesskey="8" class="global-menu__link">my.UQ</a></li>
		     </ul>
		    </div>
  		</div>
  		<div class="site-header__content">
    		<div class="columns medium-11 large-8"> <a href="https://www.uq.edu.au/" title="UQ Homepage" class="uq-logo">The University of Queensland</a>
      			<h2 class="site-title has-2-lines"><a class="site-title__link" rel="home" title="Live Learning Library" href="https://live-learning-library.science.uq.edu.au">Live Learning Library<br>
        Faculty of Science</a></h2>
	    	</div>
	  </div>
	  <div id="Navbar" class="navigation"></div>
	</div>

<!--<nav id="Navbar" class="auto-height-member"></nav>-->
<!---	<div id="Navbar" class="auto-height-member navigation"></div>--->
	<div id="HeaderContainer"></div>

	<div id="Content" class="page"></div>

        <div id="site-footer" class="auto-height-member site-footer"></div>

