	<title><%=themeTitle%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Metacat UI">
    <meta name="author" content="NCEAS Ecoinformatics Development Team">

    <!-- Stylesheets -->
    <link href="./components/fancybox/jquery.fancybox.css?v=2.1.5" rel="stylesheet" type="text/css">
    <link href="./components/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" rel="stylesheet" type="text/css">
    <link href="./components/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" rel="stylesheet" type="text/css">
    <link href="./components/annotator/v1.2.10/annotator.css" rel="stylesheet" type="text/css">
    <link href="./components/bioportal/jquery.ncbo.tree.min.css" rel="stylesheet" type="text/css">    
    <link href="./css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="./css/font-awesome-3.2.1.min.css" type="text/css" rel="stylesheet">
    <link href="./css/metacatui-common.css?v=<%=window.metacatUIVersion%>" type="text/css" rel="stylesheet">
    <link href="./js/themes/<%=theme%>/css/metacatui.css?v=<%=window.metacatUIVersion%>" type="text/css" rel="stylesheet">
    <link href="./css/metacatui-common.responsive.css?v=<%=window.metacatUIVersion%>" type="text/css" rel="stylesheet">
    <link href="./js/themes/<%=theme%>/css/metacatui.responsive.css?v=<%=window.metacatUIVersion%>" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//researchdata.ands.org.au/apps/assets/vocab_widget/css/vocab_widget_v2.css" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="./components/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="js/themes/<%=theme%>/img/favicons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="js/themes/<%=theme%>/img/favicons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="js/themes/<%=theme%>/img/favicons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="js/themes/<%=theme%>/img/favicons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="js/themes/<%=theme%>/img/favicons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="js/themes/<%=theme%>/img/favicons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="js/themes/<%=theme%>/img/favicons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="js/themes/<%=theme%>/img/favicons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="js/themes/<%=theme%>/img/favicons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="js/themes/<%=theme%>/img/favicons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="js/themes/<%=theme%>/img/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="js/themes/<%=theme%>/img/favicons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="js/themes/<%=theme%>/img/favicons/favicon-16x16.png">
	<link rel="manifest" href="js/themes/<%=theme%>/img/favicons/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="js/themes/<%=theme%>/img/favicons/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	
	<!--  Google Analytics  -->
	<% if(googleAnalyticsKey){ %>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', '<%=googleAnalyticsKey%>', 'auto');
		</script>
	<% } %>
