<% 
 if(!title) var title = "Files in this dataset";
 if(nested) var classes = "nested";
 if(!colspan) var colspan = 7;  
%>

<table class="download-contents table-striped table-condensed table <%=classes%>">
	<thead>
		<% if(nested && metadata){ %>
			<tr class="table-header title">
				<th colspan="<%=colspan%>" class="table-header">
					<a href="#view/<%=metadata.get('id')%>"><strong><%=metadata.get("title")%></strong></a>
				</th>
			</tr>
		<% } %>
		<tr class="table-header">
			<th colspan="<%=colspan%>" class="table-header">
				<%=title%>
			</th>
		</tr>
		<tr>
			<th><i class="icon icon-folder-open"></i></th>
			<th class="id wrap-contents more-info-header" colspan="2">Name</th>
			<th class="formatId wrap-contents">File type</th>
			<th>Size</th>
			<th><% if(readsEnabled){ print("Downloads"); } %></th>
			<th></th>
		</tr>
	</thead>	
</table>
<div id="downloadModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modalLabel">Data download</h3>
  </div>
  <div class="modal-body">
    <p>Thank you for accessing the Live Learning Library. 
    To assist us in understanding data usage, please answer the following questions before proceeding with the download.</p>
    <form>
      <label for="inputOrg">Name of your organisation (if you have no affiliations, please write ‘none’)</label>
      <input id="inputOrg" type="text">
      <br/>
      <label for="inputType">What type of user are you</label>
      <select id="inputType">
        <option value="student">Student</option>
        <option value="teacher">Teacher</option>
        <option value="researcher">Researcher</option>
        <option value="public">General public</option>
      </select>
      <br/>
      <label for="inputReason">Reason for downloading this dataset</label>
      <select id="inputReason">
        <option value="education">Education purposes</option>
        <option value="publishing">Publishing</option>
        <option value="personal">Personal use</option>
      </select>

      <!--license agreement-->
      <label for="inputLic">License</label>
        <div id="licenseText"></div><br> 
        <input type="checkbox" id="lic1"> <div>I accept and agree to the terms of the License under which this data is published.</div><br>
        <input type="checkbox" id="lic2"><div>The Live Learning Library and its content is provided on an "as is" and "as available" basis. By ticking this box you understand and agree that you use the data at your own discretion and risk. You will be solely responsible for any damage or loss whatsoever that results from use of any data obtained through the Live Learning Library Portal.</div><br>

      <input id="inputDocid" type="hidden">
      <input id="inputPid" type="hidden" value="<%=packageId.replace('resourceMap_','')%>">
    </form>
  </div>
  

  <div class="modal-footer">
    <button id="downloadModalButton" class="btn disabled" title="Please fill in the form above to continue with the download">Download <i class="icon-cloud-download"></i></button>
    <a id="downloadModalLink" href="#" class="btn download" download target="_blank">Download <i class="icon-cloud-download"></i></a>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>
<script>

  //grab license info from main page
  var licence=$('#licence .para');
//  $('#licenseText').append(ltext.substring(1,ltext.length));
   $('#licenseText').text(licence.text());
   linkify($('#licenseText'));
   linkify(licence);
  $('#downloadModal').on('show', function () {
    $('#inputType')[0].selectedIndex = -1;
    $('#inputReason')[0].selectedIndex = -1;

    $('#lic1').attr("checked", false);
    $('#lic2').attr("checked", false);

    var cookies = {};
    $.each(document.cookie.split(';'), function(i, el) {
      if (el) {
        var kv = $.trim(el).split('=');
        if (kv[0]) cookies[kv[0]] = decodeURIComponent(kv[1]);
      }
    });
    if (cookies['dl_org']) $('#inputOrg').val(cookies['dl_org']);
    if (cookies['dl_type']) $('#inputType').val(cookies['dl_type']);
    if (cookies['dl_reason']) $('#inputReason').val(cookies['dl_reason']);
    refreshButton();
  });

  $('#downloadModalLink').on('click', function (e) {
    // set cookies
    var expires = (new Date(Date.now()+1000*60*60*24+365)).toUTCString();
    var org = encodeURIComponent($('#inputOrg').val());
    var type = encodeURIComponent($('#inputType').val());
    var reason = encodeURIComponent($('#inputReason').val());
    var docid = $('#inputDocid').val().replace(/\.[^/.]+$/, '');
    var pid = $('#inputPid').val().replace(/\.[^/.]+$/, '');
    document.cookie = 'dl_org=' + org + ';expires=' + expires;
    document.cookie = 'dl_type=' + type + ';expires=' + expires;
    document.cookie = 'dl_reason=' + reason + ';expires=' + expires;
    
    // call ajax
    $.get('/metacat/hirs_collect.jsp?organisation=' + org + '&user_type=' + type + '&reason=' + reason + '&docid=' + docid + '&packageid=' + pid);
    
    // close modal
    $('#downloadModal').modal('hide');
  });
  
  function refreshButton() {
    if ($('#inputOrg').val() && $('#inputType').val() && $('#inputReason').val() && $('#lic1').is(":checked") && $('#lic2').is(":checked")) {
      $('#downloadModalLink').removeClass('hide');
      $('#downloadModalButton').addClass('hide');
    } else {
      $('#downloadModalLink').addClass('hide');
      $('#downloadModalButton').removeClass('hide');
    }
  }
  
  $('#inputOrg').on('input', refreshButton);
  $('#inputType').on('input', refreshButton);
  $('#inputReason').on('input', refreshButton);
  $('#lic1').change(function(){
   	refreshButton();
   });
  $('#lic2').change(function(){
        refreshButton();
   });

   function linkify (el) {
      if (!el.html()) return;  // bail early if no data
      var inputText = el.html();

      //URLs starting with http://, https://, or ftp://
      var replacePattern1 = /(\b(https?|ftp):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gim;
      var replacedText = inputText.replace(replacePattern1, '<a href="$1" target="_blank">$1</a>');

      //URLs starting with www. (without // before it, or it'd re-link the ones done above)
      var replacePattern2 = /(^|[^\/])(www\.[\S]+(\b|$))/gim;
      replacedText = replacedText.replace(replacePattern2, '$1<a href="http://$2" target="_blank">$2</a>');

      //Change email addresses to mailto:: links
      var replacePattern3 = /[a-z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/gim;
      replacedText = replacedText.replace(replacePattern3, '<a href="mailto:$&">$&</a>');

      el.html(replacedText);
    }


  function showDownloadForm(a) {
    var $a = $(a);
    var id = $a.attr('data-id') || $a.closest('.entitydetails').attr('data-id');
    if (id) {
      $('#downloadModalLink').attr('href', $a.attr('href'));
      $('#inputDocid').val(id);
      $('#downloadModal').modal('show');
      return false;
    } else {
      return true;
    }
  }
</script>

