
  <div class="site-footer__content">

    <div class="row">

      <div class="columns large-9 medium-8"> <span class="footer__copyright">&copy; The University of Queensland</span>

        <div class="footer__contact"> Enquiries: <a href="tel:+61733651111" class="footer__link footer__enquiries-phone">+61 7 3365 1111</a> &nbsp; | &nbsp; <a href="https://uq.edu.au/contacts" class="footer__link footer__contacts-link">Contact directory</a> </div>

        <div class="footer__meta"> <abbr title="Australian Business Number">ABN</abbr>: 63 942 912 684 &nbsp; | &nbsp; <abbr title="Commonwealth Register of Institutions and Courses for Overseas Students">CRICOS</abbr> Provider No: <a class="footer__link cricos__link" href="https://www.uq.edu.au/about/cricos-link" rel="external">00025B</a> </div>

      </div>

      <div class="emergency">

        <div class="site-footer__emergency-contact"> <strong class="site-footer__sub-title">Emergency</strong><br>

          Phone: <a href="tel:+61733653333" class="footer__link footer__emergency-phone">3365 3333</a> </div>

      </div>

    </div>

    <div class="row">

      <div class="site-footer__footer">

        <div class="columns large-9 medium-8"> <a href="https://www.uq.edu.au/terms-of-use/" rel="external" class="footer__link footer__terms-link">Privacy &amp; Terms of use</a> &nbsp; | &nbsp; <a href="https://www.uq.edu.au/feedback?r=https%3A//engage.uq.edu.au/" rel="external" class="footer__link footer__feedback-link">Feedback</a> </div>

        <div class="columns large-3 medium-4"> </div>

      </div>

    </div>

  </div>

