<div class="page__content">

    <!-- application add here START -->
    <div class="light-palette hero-banner hero-banner--background-image">
      <div class="hero-banner__container">
        <div class="hero-banner__content">
          <h1 class="hero-banner__title">FIND DATA</h1>
          <div class="item-list">
            <ul class="hero-banner__buttons small-block-grid-1 large-block-grid-1">
              <li>
		<input type="text" id="search_txt_main" placeholder="Example: coral reef" class="span10">
                <a href="#data" type="button" class="btn span1" id="search_btn_main"><i class="icon-search icon-large"></i></a>
	      </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- application add here END --> 

    <!-- about panel START -->
    <div class="panel-separator"></div>
    <div class="section--centered section--shaded section">
      <div class="section__container"> 
        <div class="section__header">
          <h2 class="section__title">About the Live Learning Library</h2>
        </div>
        <div class="section__content">
          <div class="row">
            <div class="column medium-12">
                <p>The Live Learning Library has been established as an open-source data repository to record, share, and monitor ecological information from The University of Queensland’s Heron Island Research Station. The aim of this data repository is to create a comprehensive record of environmental data collected as a result of research conducted at the facility; and make that data available to students, researchers, land managers, and the general public.&nbsp;<a href="#about">Find out more about us</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- About panel END --> 

        <!-- partners panel  START -->

    <div class="panel-separator"></div>
    <div class="section--centered section partners">
      <div class="section__container">
        <div class="section__header">
          <h2 class="section__title">Partners</h2>
        </div>
        <div class="section__content">
          <p style="text-align:center"><a href="http://www.boeing.com.au/"><a href="https://www.uq.edu.au/heron-island-research-station"><img alt="Heron Island Research Station" height="120" src="js/themes/default/img/hirs/hirs.png" width="250"></a><a href="http://www.tern.org.au/"><img alt="TERN" height="100" src="js/themes/default/img/hirs/tern-logo.png" width="180"></a> <a href="https://www.barrierreef.org/"><img alt="great Barrier Reef Foundation" height="120" src="js/themes/default/img/hirs/gbrf-logo.png" width="250"></a>&nbsp; <a href="http://www.boeing.com.au/"><img class="" alt="Boeing" height="120" src="js/themes/default/img/hirs/boeing-logo.png" width="250"></a> </p>
        </div>
      </div>
    </div>
</div>

