<article class="metadata-view">
<!--	<div id="breadcrumb-container"></div> -->
	<div id="article-container">
		<section>
			<div id="citation-container" class="citation-container"></div>
			<div id="data-source-container" class="data-source"></div>
			<div class="clear"></div>
		</section>
		<section class="controls-container">
			<div id="metadata-controls-container" class="controls"></div>
			<div id="owner-controls-container" class="controls"></div>
			<div class="clear"></div>
		</section>
		<div id="parent-link-container"></div>
		<div id="table-container"></div>
		<div id="metadata-container"></div>
	</div>
</article>
