<div class="region region-navigation">
  <div id="block-system-main-menu" class="block block-system block-menu main-menu">
<!--    <div class="mobile-menu"> <a href="javascript:void(0);" class="main-menu__mobile-menu-link" title="Menu"><i class="icon icon-uq-bars-short" title="Menu"></i> Menu</a> </div>
-->
      <ul class="menu" id="main-menu">
       <li class="first leaf active-trail"><a class="active-trail menu__link active" title=""  href=".">Home</a></li>
       <li class="leaf"><a href="#about" title="" class="menu__link">About</a></li>

       <li class="dropdown leaf">
        	<a class="dropdown-toggle menu__link" data-toggle="dropdown">Data</a>
        	<ul class="dropdown-menu">
<!---
        		<li class="dropdown-header">Data</li>
        		<li class="divider"></li>       		
-->
        		<li><a class="show-new-search" href="#data">Search</a></li>
        		<li><a href="#profile">Summary</a></li>
        	</ul>
       </li>
       <li class="leaf" id='faq'><a href="#faq" class="menu__link">FAQ</a></li>
       <li class="leaf" id='contact'><a target="_blank" class="menu__link" href=" https://www.uq.edu.au/heron-island-research-station/staff-contact">Contact</a></li> 


        <% if (loggedIn && username) { 
        	print(
        	'<li class="dropdown leaf">',
				'<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown">',
                                        '<i class="icon icon-on-left icon-user"></i>',
					'<b class="icon-sort-down"></b>',
				'</a>',
				'<ul class="dropdown-menu">',
					'<li class="dropdown-header">', formattedName, '</li>',
					'<li class="divider"></li>',  
					'<li><a href="#share" class="show-new-editor">Register data</a></li>',
					'<li><a href="#profile/' + username + '">My Profile</a></li>',
					'<li><a href="#data/my-data">My data packages</a></li>',
					'<li class="divider"></li>',
					'<li><a href="#signout">Sign out</a></li>',
				'</ul>',
			'</li>'
        	);
        } else {
        	print(
        		'<li id="SignIn" class="share-feature leaf"><a href="#share" class="menu__link">Sign In</a></li>'
        	);
        } %>
      </ul>
  </div><!-- /.navbar-inner -->
</div><!-- /.navbar -->
