<!---
<a id="publish" class="share-feature btn btn-primary"
<% if (!isAuthorized) {
	print(' disabled="disabled" '); 
	print(' rel="popover" data-placement="bottom" data-trigger="hover" data-content="Sign in to publish with DOI" '); 	
} %> 
 pid="<%= identifier %>">Publish with DOI <i class="icon icon-star"></i></a>
--->	
	
