:$
.bmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: red;
    color:white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#bname
{
 background: transparent;
 border: none;
 width: 50px;

}

.element-invisible {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px
}

.site-header__global-menu {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%
}
.site-header__global-menu:before,
.site-header__global-menu:after {
    content: " ";
    display: table
}
.site-header__global-menu:after {
    clear: both
}
.global-menu {
    float: right
}
.global-menu__list {
    list-style-type: none
}
.global-menu__list,
.global-menu__list li {
    margin: 0;
    padding: 0;
    display: inline
}
.global-menu__link,
.global-menu__link:visited {
    font-size: 10px;
    font-size: 0.65rem;
    margin-right: 4px;
    margin-right: 0.25rem;
    color: #d2c1d7;
    text-transform: uppercase;
    font-weight: 500
}
.global-menu__link:hover,
.global-menu__link:visited:hover {
    color: white
}



.site-header {
    width: 100%;
    background-color: #49075e;
    color: #ccc
}
.site-header__content {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    padding: 0 0 24px 0;
    padding: 0 0 1.5rem 0;
    text-align: center
}
.site-header__content:before,
.site-header__content:after {
    content: " ";
    display: table
}
.site-header__content:after {
    clear: both
}


@media only screen and (max-width: 40em) {
    .site-header__content {
        padding: 16px 0;
        padding: 1rem 0
    }
}

.site-header .uq-logo {
    float: left
}

@media only screen and (max-width: 40em) {
    .site-header .uq-logo {
        float: none;
        margin: 0 auto
    }
}

.site-header .site-title {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 12px 0 12px 16px;
    padding: 0.8rem 0 0.8rem 1rem;
    margin: 0 0 0 16px;
    margin: 0 0 0 1rem;
    float: left;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.2
}

@media only screen and (min-width: 40.0625em) {
    .site-header .site-title {
        text-align: left;
        font-size: 20px;
        font-size: 1.275rem
    }
}
@media only screen and (min-width: 90.0625em) {
    .site-header .site-title {
        font-size: 23px;
        font-size: 1.475rem
    }
}

.site-header .site-title__link {
    color: #fff
}
.site-header .site-title__link:hover {
    text-decoration: none
}

@media only screen and (max-width: 40em) {
    .site-header .site-title {
        border: 0;
        margin: 16px 0 0 0;
        margin: 1rem 0 0 0;
        padding: 0;
        float: none;
        clear: both
    }
}

.site-header .site-title.has-prefix {
    font-size: 16px;
    font-size: 1rem
}

@media only screen and (min-width: 40.0625em) {
    .site-header .site-title.has-prefix {
        padding-top: 4px;
        padding-top: 0.3rem;
        padding-bottom: 4px;
        padding-bottom: 0.3rem;
        letter-spacing: -0.3px
    }
}
@media only screen and (min-width: 64.0625em) {
    .site-header .site-title.has-prefix {
        font-size: 18px;
        font-size: 1.175rem
    }
}
@media only screen and (min-width: 90.0625em) {
    .site-header .site-title.has-prefix {
        font-size: 20px;
        font-size: 1.275rem
    }
}

.site-header .site-title.has-2-lines {
    font-size: 16px;
    font-size: 1rem
}


@media only screen and (min-width: 40.0625em) {
    .site-header .site-title.has-2-lines {
        padding-top: 4px;
        padding-top: 0.3rem;
        padding-bottom: 4px;
        padding-bottom: 0.3rem
    }
}
@media only screen and (min-width: 64.0625em) {
    .site-header .site-title.has-2-lines {
        font-size: 20px;
        font-size: 1.275rem
    }
}
@media only screen and (max-width: 40em) {
    .site-header .site-title.has-2-lines br {
        display: none
    }
}
@media only screen and (min-width: 40.0625em) {
    .site-header .site-title__prefix {
        font-size: 16px;
        font-size: 1rem;
        display: block;
        font-weight: 300
    }
}
@media only screen and (max-width: 40em) {
    .site-header__site-search {
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        overflow: hidden;
        position: absolute !important;
        width: 1px
    }
}
@media only screen and (min-width: 40.0625em) and (max-width: 64em) {
    .site-header__site-search {
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        overflow: hidden;
        position: absolute !important;
        width: 1px
    }
}
@media only screen and (min-width: 64.0625em) {
    .site-header__site-search {
        padding: 16px 16px 0 0;
        padding: 1rem 1rem 0 0;
        padding-left: 0;
        padding-right: 0;
        width: 33.33333%;
        float: right
    }
}

.site-header .uq-logo {
    float: left
}

@media only screen and (max-width: 40em) {
    .site-header .uq-logo {
        float: none;
        margin: 0 auto
    }
}

.columns {
    padding-left: 15px;
    padding-left: .9375rem;
    padding-right: 15px;
    padding-right: .9375rem;
    width: 100%;
    float: left;
}
.uq-logo {
    color: #fff;
    width: 126px;
    height: 36px;
    display: block;
    padding: 0;
    margin: 0;
    background: url("https://static.uq.net.au/v3/logos/corporate/uq-logo-white.png") no-repeat 0 0;
    background: url("https://static.uq.net.au/v3/logos/corporate/uq-logo-white.svg") no-repeat 0 0;
    background-size: 100%;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize
}
@media only screen and (min-width: 40.0625em) {
    .uq-logo {
        width: 150px;
        height: 43px
    }
}
@media only screen and (min-width: 64.0625em) {
    .uq-logo {
        width: 178px;
        height: 51px
    }
}

.main-menu {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
    display: block;
    width: 100%
}
.main-menu .block__title {
    display: none
}
.main-menu__mobile-menu {
    text-align: right;
    width: 100%;
    clear: both
}
.main-menu__mobile-menu-link {
    display: inline-block;
    padding: 16px;
    padding: 1rem;
    color: #000;
    font-size: 19px;
    font-size: 1.2rem;
    font-weight: 400
}

@media only screen and (min-width: 64.0625em) {
    .main-menu__mobile-menu-link {
        display: none
    }
}

.main-menu__mobile-menu-link:hover,
.main-menu__mobile-menu-link:focus {
    color: #000;
    text-decoration: none
}
.main-menu__mobile-menu-link .icon {
    font-size: 24px;
    font-size: 1.5rem;
    margin-right: 4px;
    margin-right: 0.3rem
}
.main-menu .menu {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    height: 0;
 /*   visibility:hidden;*/
/*    overflow: hidden;*/
    clear: left;
    padding: 0;
    list-style: none;
    border: 0;
    border-bottom: 1px solid #d9d9d9
}
.main-menu .menu:before,
.main-menu .menu:after {
    content: " ";
    display: table
}
.main-menu .menu:after {
    clear: both
}

@media only screen and (min-width: 40.0625em) {
    .main-menu .menu {
        height: auto;
        visibility: visible;
        overflow: visible;
        border: 0;
    }
}

.main-menu .menu.mobile-open {
    height: auto;
    visibility: visible;
    overflow: visible
}
.main-menu .menu .leaf,
.main-menu .menu .expanded,
.main-menu .menu .collapsed {
    margin: 0;
    padding: 0;
    list-style: none;
    background: white;
    position: relative;
    border-bottom: 1px solid #d9d9d9;
    float:left;
}
.main-menu .menu .leaf:last-child,
.main-menu .menu .leaf.last,
.main-menu .menu .expanded:last-child,
.main-menu .menu .expanded.last,
.main-menu .menu .collapsed:last-child,
.main-menu .menu .collapsed.last {
    border: 0
}

@media only screen and (min-width: 64.0625em) {
    .main-menu .menu .leaf,
    .main-menu .menu .expanded,
    .main-menu .menu .collapsed {
        border: 0;
        float: left
    }
    .main-menu .menu .leaf:hover,
    .main-menu .menu .expanded:hover,
    .main-menu .menu .collapsed:hover {
        background: #e7e7e7
    }
    .main-menu .menu .leaf:last-child .menu__dropdown,
    .main-menu .menu .leaf.last .menu__dropdown,
    .main-menu .menu .expanded:last-child .menu__dropdown,
    .main-menu .menu .expanded.last .menu__dropdown,
    .main-menu .menu .collapsed:last-child .menu__dropdown,
    .main-menu .menu .collapsed.last .menu__dropdown {
        right: 0
    }
}

.main-menu .menu .leaf .menu__link,
.main-menu .menu .expanded .menu__link,
.main-menu .menu .collapsed .menu__link {
    display: block;
    margin: 0;
    padding: 1.3em;
    text-decoration: none;
    color: #000
}

@media only screen and (min-width: 64.0625em) {
    .main-menu .menu .leaf .menu__link,
    .main-menu .menu .expanded .menu__link,
    .main-menu .menu .collapsed .menu__link {
        padding: 1.3em 28px;
        padding: 1.3em 1.8rem;
        border-bottom: 2px solid transparent
    }
}

.main-menu .menu .leaf .menu__link:visited,
.main-menu .menu .expanded .menu__link:visited,
.main-menu .menu .collapsed .menu__link:visited {
    text-decoration: none
}
.main-menu .menu .leaf .menu__link:hover,
.main-menu .menu .expanded .menu__link:hover,
.main-menu .menu .collapsed .menu__link:hover {
    background: #e7e7e7
}

@media only screen and (min-width: 64.0625em) {
    .main-menu .menu .leaf .menu__link.menu__dropdown-link,
    .main-menu .menu .expanded .menu__link.menu__dropdown-link,
    .main-menu .menu .collapsed .menu__link.menu__dropdown-link {
        display: none
    }
}

.main-menu .menu .leaf .menu__link.active-trail,
.main-menu .menu .expanded .menu__link.active-trail,
.main-menu .menu .collapsed .menu__link.active-trail {
    border-left: 3px solid #b69cbf
}

@media only screen and (min-width: 64.0625em) {
    .main-menu .menu .leaf .menu__link.active-trail,
    .main-menu .menu .expanded .menu__link.active-trail,
    .main-menu .menu .collapsed .menu__link.active-trail {
        border-left: 0;
        border-bottom: 2px solid #b69cbf
    }
}

.main-menu .menu .leaf .menu__link.active,
.main-menu .menu .expanded .menu__link.active,
.main-menu .menu .collapsed .menu__link.active {
    border-left: 3px solid #49075e;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 300;
}

@media only screen and (min-width: 64.0625em) {
    .main-menu .menu .leaf .menu__link.active,
    .main-menu .menu .expanded .menu__link.active,
    .main-menu .menu .collapsed .menu__link.active {
        border-left: 0;
        border-bottom: 2px solid #49075e
    }
}

.main-menu .menu .leaf.expanded,
.main-menu .menu .expanded.expanded,
.main-menu .menu .collapsed.expanded {
    position: relative
}
.main-menu .menu .leaf.expanded .menu__link,
.main-menu .menu .expanded.expanded .menu__link,
.main-menu .menu .collapsed.expanded .menu__link {
    padding-right: 64px;
    padding-right: 4rem
}

@media only screen and (min-width: 64.0625em) {
    .main-menu .menu .leaf.expanded .menu__link,
    .main-menu .menu .expanded.expanded .menu__link,
    .main-menu .menu .collapsed.expanded .menu__link {
        padding-right: 32px;
        padding-right: 2rem
    }
    .main-menu .menu .leaf.expanded .menu__link:after,
    .main-menu .menu .expanded.expanded .menu__link:after,
    .main-menu .menu .collapsed.expanded .menu__link:after {
        display: inline-block;
        font: normal normal normal 16px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f107";
        font-size: 14px;
        font-size: 0.875rem;
        color: #ccc;
        position: absolute;
        right: 16px;
        right: 1rem;
        top: 50%;
        margin-top: -7px;
        margin-top: -0.4375rem
    }
}

.main-menu .menu .leaf.expanded .menu__dropdown-link,
.main-menu .menu .expanded.expanded .menu__dropdown-link,
.main-menu .menu .collapsed.expanded .menu__dropdown-link {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 20px;
    padding: 1.3rem;
    display: block;
    border-left: 1px solid #d9d9d9;
    background: #fff
}
.main-menu .menu .leaf.expanded .menu__dropdown-link:before,
.main-menu .menu .expanded.expanded .menu__dropdown-link:before,
.main-menu .menu .collapsed.expanded .menu__dropdown-link:before {
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f107";
    right: 16px;
    right: 1rem;
    top: 50%;
    margin-top: -7px;
    margin-top: -0.4375rem
}
.main-menu .menu .leaf.expanded .menu__dropdown-link:hover,
.main-menu .menu .expanded.expanded .menu__dropdown-link:hover,
.main-menu .menu .collapsed.expanded .menu__dropdown-link:hover {
    background: #e7e7e7
}

@media only screen and (min-width: 64.0625em) {
    .main-menu .menu .leaf.expanded .menu__dropdown-link,
    .main-menu .menu .expanded.expanded .menu__dropdown-link,
    .main-menu .menu .collapsed.expanded .menu__dropdown-link {
        display: none
    }
}

.main-menu .menu .leaf.expanded .menu__dropdown-link.dropdown-open,
.main-menu .menu .expanded.expanded .menu__dropdown-link.dropdown-open,
.main-menu .menu .collapsed.expanded .menu__dropdown-link.dropdown-open {
    background: #f2f2f2
}
.main-menu .menu .leaf.expanded .menu__dropdown-link.dropdown-open:before,
.main-menu .menu .expanded.expanded .menu__dropdown-link.dropdown-open:before,
.main-menu .menu .collapsed.expanded .menu__dropdown-link.dropdown-open:before {
    content: "\f106"
}

@media only screen and (min-width: 64.0625em) {
    .main-menu .menu .leaf:hover .menu,
    .main-menu .menu .leaf .menu__link:hover .menu,
    .main-menu .menu .leaf:hover>.menu,
    .main-menu .menu .leaf .menu__link:hover>.menu,
    .main-menu .menu .leaf:hover .menu__dropdown,
    .main-menu .menu .leaf .menu__link:hover .menu__dropdown,
    .main-menu .menu .leaf:hover>.menu__dropdown,
    .main-menu .menu .leaf .menu__link:hover>.menu__dropdown,
    .main-menu .menu .expanded:hover .menu,
    .main-menu .menu .expanded .menu__link:hover .menu,
    .main-menu .menu .expanded:hover>.menu,
    .main-menu .menu .expanded .menu__link:hover>.menu,
    .main-menu .menu .expanded:hover .menu__dropdown,
    .main-menu .menu .expanded .menu__link:hover .menu__dropdown,
    .main-menu .menu .expanded:hover>.menu__dropdown,
    .main-menu .menu .expanded .menu__link:hover>.menu__dropdown,
    .main-menu .menu .collapsed:hover .menu,
    .main-menu .menu .collapsed .menu__link:hover .menu,
    .main-menu .menu .collapsed:hover>.menu,
    .main-menu .menu .collapsed .menu__link:hover>.menu,
    .main-menu .menu .collapsed:hover .menu__dropdown,
    .main-menu .menu .collapsed .menu__link:hover .menu__dropdown,
    .main-menu .menu .collapsed:hover>.menu__dropdown,
    .main-menu .menu .collapsed .menu__link:hover>.menu__dropdown {
        display: block
    }
    .main-menu .menu .leaf:hover .menu .menu,
    .main-menu .menu .leaf:hover .menu .menu__dropdown,
    .main-menu .menu .leaf .menu__link:hover .menu .menu,
    .main-menu .menu .leaf .menu__link:hover .menu .menu__dropdown,
    .main-menu .menu .leaf:hover>.menu .menu,
    .main-menu .menu .leaf:hover>.menu .menu__dropdown,
    .main-menu .menu .leaf .menu__link:hover>.menu .menu,
    .main-menu .menu .leaf .menu__link:hover>.menu .menu__dropdown,
    .main-menu .menu .leaf:hover .menu__dropdown .menu,
    .main-menu .menu .leaf:hover .menu__dropdown .menu__dropdown,
    .main-menu .menu .leaf .menu__link:hover .menu__dropdown .menu,
    .main-menu .menu .leaf .menu__link:hover .menu__dropdown .menu__dropdown,
    .main-menu .menu .leaf:hover>.menu__dropdown .menu,
    .main-menu .menu .leaf:hover>.menu__dropdown .menu__dropdown,
    .main-menu .menu .leaf .menu__link:hover>.menu__dropdown .menu,
    .main-menu .menu .leaf .menu__link:hover>.menu__dropdown .menu__dropdown,
    .main-menu .menu .expanded:hover .menu .menu,
    .main-menu .menu .expanded:hover .menu .menu__dropdown,
    .main-menu .menu .expanded .menu__link:hover .menu .menu,
    .main-menu .menu .expanded .menu__link:hover .menu .menu__dropdown,
    .main-menu .menu .expanded:hover>.menu .menu,
    .main-menu .menu .expanded:hover>.menu .menu__dropdown,
    .main-menu .menu .expanded .menu__link:hover>.menu .menu,
    .main-menu .menu .expanded .menu__link:hover>.menu .menu__dropdown,
    .main-menu .menu .expanded:hover .menu__dropdown .menu,
    .main-menu .menu .expanded:hover .menu__dropdown .menu__dropdown,
    .main-menu .menu .expanded .menu__link:hover .menu__dropdown .menu,
    .main-menu .menu .expanded .menu__link:hover .menu__dropdown .menu__dropdown,
    .main-menu .menu .expanded:hover>.menu__dropdown .menu,
    .main-menu .menu .expanded:hover>.menu__dropdown .menu__dropdown,
    .main-menu .menu .expanded .menu__link:hover>.menu__dropdown .menu,
    .main-menu .menu .expanded .menu__link:hover>.menu__dropdown .menu__dropdown,
    .main-menu .menu .collapsed:hover .menu .menu,
    .main-menu .menu .collapsed:hover .menu .menu__dropdown,
    .main-menu .menu .collapsed .menu__link:hover .menu .menu,
    .main-menu .menu .collapsed .menu__link:hover .menu .menu__dropdown,
    .main-menu .menu .collapsed:hover>.menu .menu,
    .main-menu .menu .collapsed:hover>.menu .menu__dropdown,
    .main-menu .menu .collapsed .menu__link:hover>.menu .menu,
    .main-menu .menu .collapsed .menu__link:hover>.menu .menu__dropdown,
    .main-menu .menu .collapsed:hover .menu__dropdown .menu,
    .main-menu .menu .collapsed:hover .menu__dropdown .menu__dropdown,
    .main-menu .menu .collapsed .menu__link:hover .menu__dropdown .menu,
    .main-menu .menu .collapsed .menu__link:hover .menu__dropdown .menu__dropdown,
    .main-menu .menu .collapsed:hover>.menu__dropdown .menu,
    .main-menu .menu .collapsed:hover>.menu__dropdown .menu__dropdown,
    .main-menu .menu .collapsed .menu__link:hover>.menu__dropdown .menu,
    .main-menu .menu .collapsed .menu__link:hover>.menu__dropdown .menu__dropdown {
        display: none
    }
}

.main-menu .menu .menu,
.main-menu .menu .menu__dropdown {
    z-index: 1000;
    display: none;
    padding: 0
}

@media only screen and (min-width: 64.0625em) {
    .main-menu .menu .menu,
    .main-menu .menu .menu__dropdown {
        position: absolute;
        width: 320px;
        width: 20rem
    }
}

.main-menu .menu .menu .leaf,
.main-menu .menu .menu .expanded,
.main-menu .menu .menu .collapsed,
.main-menu .menu .menu__dropdown .leaf,
.main-menu .menu .menu__dropdown .expanded,
.main-menu .menu .menu__dropdown .collapsed {
    width: 100%;
    clear: both
}
.main-menu .menu .menu .leaf:first-child,
.main-menu .menu .menu .expanded:first-child,
.main-menu .menu .menu .collapsed:first-child,
.main-menu .menu .menu__dropdown .leaf:first-child,
.main-menu .menu .menu__dropdown .expanded:first-child,
.main-menu .menu .menu__dropdown .collapsed:first-child {
    border-top: 1px solid #d9d9d9
}


@media only screen and (min-width: 64.0625em) {
    .main-menu .menu .menu .leaf,
    .main-menu .menu .menu .expanded,
    .main-menu .menu .menu .collapsed,
    .main-menu .menu .menu__dropdown .leaf,
    .main-menu .menu .menu__dropdown .expanded,
    .main-menu .menu .menu__dropdown .collapsed {
        border-top: 1px solid #d9d9d9
    }
    .main-menu .menu .menu .leaf:first-child,
    .main-menu .menu .menu .expanded:first-child,
    .main-menu .menu .menu .collapsed:first-child,
    .main-menu .menu .menu__dropdown .leaf:first-child,
    .main-menu .menu .menu__dropdown .expanded:first-child,
    .main-menu .menu .menu__dropdown .collapsed:first-child {
        border-top: none
    }
}

.main-menu .menu .menu .leaf .menu__link,
.main-menu .menu .menu .expanded .menu__link,
.main-menu .menu .menu .collapsed .menu__link,
.main-menu .menu .menu__dropdown .leaf .menu__link,
.main-menu .menu .menu__dropdown .expanded .menu__link,
.main-menu .menu .menu__dropdown .collapsed .menu__link {
    padding-left: 40px;
    padding-left: 2.5rem;
    background: #f2f2f2
}

@media only screen and (min-width: 64.0625em) {
    .main-menu .menu .menu .leaf .menu__link,
    .main-menu .menu .menu .expanded .menu__link,
    .main-menu .menu .menu .collapsed .menu__link,
    .main-menu .menu .menu__dropdown .leaf .menu__link,
    .main-menu .menu .menu__dropdown .expanded .menu__link,
    .main-menu .menu .menu__dropdown .collapsed .menu__link {
        padding-left: 20px;
        padding-left: 1.3rem;
        padding-top: 17px;
        padding-top: 1.1rem;
        padding-bottom: 17px;
        padding-bottom: 1.1rem;
        background: #e7e7e7
    }
}

.main-menu .menu .menu .leaf .menu__link:hover,
.main-menu .menu .menu .expanded .menu__link:hover,
.main-menu .menu .menu .collapsed .menu__link:hover,
.main-menu .menu .menu__dropdown .leaf .menu__link:hover,
.main-menu .menu .menu__dropdown .expanded .menu__link:hover,
.main-menu .menu .menu__dropdown .collapsed .menu__link:hover {
    background: #d9d9d9
}
.main-menu .menu .menu .leaf .menu__link:after,
.main-menu .menu .menu .expanded .menu__link:after,
.main-menu .menu .menu .collapsed .menu__link:after,
.main-menu .menu .menu__dropdown .leaf .menu__link:after,
.main-menu .menu .menu__dropdown .expanded .menu__link:after,
.main-menu .menu .menu__dropdown .collapsed .menu__link:after {
    display: none
}
.main-menu .menu .menu .leaf.expanded:after,
.main-menu .menu .menu .expanded.expanded:after,
.main-menu .menu .menu .collapsed.expanded:after,
.main-menu .menu .menu__dropdown .leaf.expanded:after,
.main-menu .menu .menu__dropdown .expanded.expanded:after,
.main-menu .menu .menu__dropdown .collapsed.expanded:after {
    border: none
}

@media only screen and (min-width: 64.0625em) {
    .main-menu .menu .menu .leaf.expanded .menu__link:after,
    .main-menu .menu .menu .expanded.expanded .menu__link:after,
    .main-menu .menu .menu .collapsed.expanded .menu__link:after,
    .main-menu .menu .menu__dropdown .leaf.expanded .menu__link:after,
    .main-menu .menu .menu__dropdown .expanded.expanded .menu__link:after,
    .main-menu .menu .menu__dropdown .collapsed.expanded .menu__link:after {
        display: none
    }
}

.main-menu .menu .menu .menu__link.active-trail,
.main-menu .menu .menu__dropdown .menu__link.active-trail {
    border-bottom: 0;
    border-left: 3px dotted #dbcddf
}
.main-menu .menu .menu .menu__link.active,
.main-menu .menu .menu__dropdown .menu__link.active {
    border-left: 3px solid #49075e
}

@media only screen and (min-width: 64.0625em) {
    .main-menu .menu .menu .menu__link.active,
    .main-menu .menu .menu__dropdown .menu__link.active {
        border-bottom: 0;
        background-color: #dedede
    }
}

.main-menu .menu .menu.expand,
.main-menu .menu .menu__dropdown.expand {
    display: block
}

@media only screen and (min-width: 64.0625em) {
    .main-menu .menu .menu.expand,
    .main-menu .menu .menu__dropdown.expand {
        display: none
    }
}


.hero-banner {
    display: table;
    width: 100%;
    height: 240px;
    height: 15rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
@media only screen and (min-width: 40.0625em) {
    .hero-banner {
        height: 352px;
        height: 22rem
    }
}
@media only screen and (min-width: 64.0625em) {
    .hero-banner {
        height: 448px;
        height: 28rem
    }
}
@media only screen and (min-width: 90.0625em) {
    .hero-banner {
        height: 560px;
        height: 35rem
    }
}
.hero-banner__container {
    display: table-cell;
    vertical-align: middle;
    position: relative
}
.hero-banner__title {
    font-size: 29px;
    font-size: 1.8285rem;
    letter-spacing: -0.5px;
    margin-bottom: 0;
    color:white;
}
@media only screen and (min-width: 40.0625em) {
    .hero-banner__title {
        font-size: 39px;
        font-size: 2.438rem;
        font-weight: 400;
        color:white;

    }
}
@media only screen and (min-width: 64.0625em) {
    .hero-banner__title {
        font-size: 48px;
        font-size: 3.0475rem;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        color:white;

    }
}
.hero-banner__content {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 16px;
    padding: 1rem;
    text-align: center
}
.hero-banner--light-tint .hero-banner__title {
    text-shadow: none
}
.hero-banner__buttons {
    margin-top: 16px;
    margin-top: 1rem;
    padding: 0;
    margin-left: 120px;
    list-style:none;
}
@media only screen and (min-width: 40.0625em) {
    .hero-banner__buttons {
        margin-top: 56px;
        margin-top: 3.5rem
    }
}
.hero-banner__buttons a {
    border-width: 2px;
    border-style: solid;
    text-align: left;
    display: block;
    padding: 8px 16px;
    padding: 0.5rem 1rem;
    line-height: normal;
    font-size: 22px;
    font-size: 1.4rem;
    font-weight: 400;
    position: relative
}
.hero-banner__buttons a:hover {
    color: #2377cb;
    border-color: #fff;
    background-color: #fff;
    text-decoration: none
}
@media only screen and (min-width: 64.0625em) {
    .hero-banner__buttons.large-block-grid-3>li {
        float: none;
        display: inline-block;
        width: 33%
    }
}

.panel-separator{
	display:none;
}

.section--shaded{

  background-color: #f5f5f5;
}

.section{
    padding-top: 56px;
    padding-top: 3.5rem;
    padding-bottom: 56px;
    padding-bottom: 3.5rem;
    overflow: hidden;
}

.section__container {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
}

.section--centered .section__header, .section--centered .section__footer {
    text-align: center;
}
.partners
{
   background-color:white;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 20px;
    margin: 0 0 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px 17px 32px;
    padding: 1rem 2rem 1.0625rem 2rem;
    font-size: 16px;
    font-size: 1rem;
    background-color: #2377cb;
    border-color: transparent;
    color: #fff;
    transition: background-color 300ms ease-out;
}

.section__header {
    padding-left: 15px;
    padding-left: .9375rem;
    padding-right: 15px;
    padding-right: .9375rem;
    width: 100%;
    float: left;
}

.section__content {
    padding-left: 15px;
    padding-left: .9375rem;
    padding-right: 15px;
    padding-right: .9375rem;
    width: 100%;
    float: left;
}


.row {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
}

.site-footer {
    width: 100%;
    background-color: #49075e;
    color: #c8b5cf;
    font-size: 14px;
    font-size: .875rem
}
.site-footer a {
    color: #fff
}
.site-footer .cricos__link {
    color: #c8b5cf
}
.site-footer .site-footer__content {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    padding: 32px 0;
    padding: 2rem 0
}
.site-footer .site-footer__content:before,
.site-footer .site-footer__content:after {
    content: " ";
    display: table
}
.site-footer .site-footer__content:after {
    clear: both
}
.site-footer .site-footer__sub-title {
    font-size: 17px;
    font-size: 1.1rem;
    margin: 0;
    color: #fff;
    font-weight:500;
    line-height:inherit;
}
@media only screen and (max-width: 40em) {
    .site-footer .site-footer__emergency-contact {
        margin-top: 16px;
        margin-top: 1rem
    }
}
.site-footer .site-footer__footer {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 16px;
    margin-top: 1rem;
    padding-top: 16px;
    padding-top: 1rem
}

.large-9 {
        width: 75%
}
.medium-8 {
    width: 66.66667%
}
.large-3 {
    width: 25%
}

.medium-4 {
    width: 33.33333%
}
.columns+.columns:last-child {
    float: right;
}
.emergency
{
  float:right;
  width:25%;
  padding-left:15px;
  padding-right: 15px;
}

#About {
    max-width: 1200px;
    margin: auto;
    background-color: transparent;
}

.about h1{
    margin: 20px auto;
    padding: 0px 20px;
    line-height: 90px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 0px 20px;
    color: #555;
    font-weight: bold;
}

#About > .container div[class^="row-fluid"]
{
    margin: 20px auto;
/*    padding: 0px 20px;*/
    background-color: #fff;
   border-radius: 5px;
}

#About > .container div[class^="row-fluid"] p
{
   padding-left:20px;
   padding-right:20px;
   margin-top: 20px;
   text-align:justify;
}
#About > .container div[class^="row-fluid"] h2
{
   padding-left:20px;
   padding-right:20px;
   margin-top: 10px;
   margin-bottom:-10px;
   text-align:justify;


}
#About > .container div[class^="row-fluid"] h3
{
   padding:20px;
}
#About > .container div[class^="row-fluid"] figure
{
   padding:20px;
   margin-left:20px;
}

#Faq {
    max-width: 1200px;
    margin: auto;
    background-color: transparent;
}

#Faq h1{
    margin: 20px auto;
    padding: 0px 20px;
    line-height: 90px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 0px 20px;
    color: #555;
    font-weight: bold;
}
#Faq > .container div[class^="row-fluid"]
{
    margin: 20px auto;
   border-radius: 5px;
   background-color:white;
}

.faq_content{

  background-color: #fff;
}

.questions ul{
 padding: 10px 30px;
 
}
.documentation {
    max-width: 1200px;
    margin: auto;
    background-color: transparent;
}
.documentation h2{
    margin: 20px auto;
    padding: 0px 20px;
    line-height: 90px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 0px 20px;
    color: #555;
    font-weight: normal
}

.documentation section{
    background-color: white;
    margin: 20px auto;
   border-radius: 5px;
   padding: 20px 20px;

}

#RegistryEntryForm, #RegistryLogin{
 max-width:1200px;
 margin: 20px auto;
 background-color:#f5f5f5;
 border-radius: 5px;
}

#RegistryLogin{
  height: 550px;
}

.user-view-section, .metadata-view{
  margin: 20px auto;
}

.metadata-view{
    max-width: 1200px;
    background-color:#f5f5f5;
    border-radius: 5px;
    padding: 20px;
}

#user-profile #data-list{
  padding-right:20px;
}

#user-profile .span3{
  padding-left: 20px;
}

#RegistryEntryReview > .container{
  max-width:1200px;
  margin: auto;
  background-color:#f5f5f5;
  border-radius: 5px;
  padding: 20px;
}

#RegistryResponse > .container{
max-width:1200px;
  margin: auto;
  background-color:#f5f5f5;
  border-radius: 5px;
  padding: 20px;
 margin-top:20px;
margin-bottom:20px;

}
#Content >.container{
  max-width:1200px;
  margin: auto;
  background-color:#f5f5f5;
  border-radius: 5px;
  padding: 20px;

}

#credits{
 margin-left:5px;
 margin-bottom: 10px;

}

#licenseText{
 background-color: #f5f5f5;
} 

#lic1,#lic2{
 float: left;
} 

#lic1+div, #lic2+div{
 margin-left: 25px;
}
