<script>
                    $('.faqquestions').click(function(event) {
                        event.preventDefault();

                    $('div.panel-collapse').removeClass('in');

                        var target ="#"+ this.getAttribute('data-target');
                        $(target).addClass('in');
                        $('html, body').animate({
                            scrollTop: $(target).offset().top
                        }, 2000);
                    });

		   $('.accordion-toggle').click(function(event){
			event.preventDefault();
						
			});
</script>
<article id="Faq">
  <div class="container">
      <h1>
          <a name="about-the-knb"></a>
          <i class="glyphicons-icon leaf"></i>
          FAQ 
      </h1>   
    <div class="row-fluid">
	<div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" href="">What is the Live Learning Library?</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
			      The Live Learning Library is an online public access data repository designed as an interface to record, manage, and monitor ecological data. Data repositories are valuable resources for finding research data and archiving data for the long-term. For more please see our <a href="#about">About</a> section.
                            </div>
                        </div>
                    </div>

		<div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" href="">Can anyone download this data?</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Yes, the data is openly accessible and we encourage researchers, students and the general public to download and use the datasets. To understand how to reference the data appropriately see FAQ <a href="" class="faqquestions" data-target="collapseFour">How do I cite data uploaded to the Live Learning Library?</a> 
                            </div>
                        </div>
                    </div>
                <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" href="">Why data licensing?</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                As a tool dedicated to helping researchers, students, and the public increase collaboration and the pace of science, this repository maintains certain rights to copy, store, and redistribute data. By uploading data, metadata, and any other content to this repository, you warrant that you have the rights to the content and are authorised to do so under copyright or any other right that might pertain to the content.<a href="http://www.bitlaw.com/copyright/database.html"> Data and facts themselves are not covered under copyright</a> in Australia and most countries, since facts in and of themselves are not eligible for copyright. That said, some associated metadata and some particular compilations of data could potentially be covered by copyright in some jurisdictions. Thus, by uploading content, you grant this repository and <a href="http://uq.edu.au/heron-island-research-station/">Heron Island Research Station</a> all rights needed to copy, store, redistribute, and share data, metadata, and any other content under the access control rules that you specify. By marking content as publicly available, you grant this repository, HIRS, and any other users the right to copy the content and redistribute it to the public without restriction under the terms of <a href="http://creativecommons.org/licenses/by/3.0/">CC-BY</a>.
                            </div>
                        </div>
                    </div>

                <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" href="">How do I cite data uploaded to the Live Learning Library?</a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                It is important that you attribute the source of the data uploaded onto the Live Learning Library appropriately when using it. Within the data records you will find details on who collected the data and when, this is what you can use to reference each data set. For more see <a href="http://guides.library.uq.edu.au/research-data-management/data-citation">UQ Library Research Data Management</a>
                            </div>
                        </div>
                    </div>

                <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" href="">Who can upload their data?</a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                Anyone can upload data to the Live Learning Library. If you would like to submit data you have collected please see FAQ <a class="faqquestions" href="" data-target="collapseSix">How can I upload data I have collected?</a> for instructions. Data can be deposited in one or more data repositories, i.e. even if you have uploaded your data elsewhere you can also share it with the Live Learning Library. Metadata submissions with directions on how to request access to the data or data submissions that are under embargo are also welcome, please see FAQ <a class="faqquestions" href="" data-target="collapseEight">I only want to offer my data under certain conditions, how does that work?</a> for more. 
                            </div>
                        </div>
                </div>

               <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix" href="">How can I upload data I have collected?</a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                If you would like to deposit your data into the Live Learning Library, please read the <a href="">Data Upload Agreement</a>. If you accept the terms and conditions outlined in the agreement then email <a href="mailto:livelearning@uq.edu.au" target="_top">livelearning@uq.edu.au</a> who will supply you with a data upload form. The scientific staff will review your submission, upload your data into the Live Learning Library and, once complete, will send you a link to your data. 
                            </div>
                        </div>
               </div>

               <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSeven" href="">I’m doing research at a UQ research facility (such as Heron Island Research Station), do I have to upload the data I collect?</a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body">
                                You are not obliged to upload the data you collect. However, if you are interested in doing so please see FAQ <a class="faqquestions" href="" data-target="collapseSix">How can I upload data I have collected?</a> for instructions. If you have special conditions for offering your data please see FAQ <a class="faqquestions" href="" data-target="collapseEight">I only want to offer my data under certain conditions, how does that work?</a> for more information. 
                            </div>
                        </div>
               </div>

               <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEight" href="">I only want to offer my data under certain conditions, how does that work?</a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse">
                            <div class="panel-body">
                                If you want to upload your data to the Live Learning Library under certain conditions due to an embargo for example, you are welcome to do so. It is possible for us to create a record of the data you have collected and store that data for you without making it public. For more specific details please email <a href="mailto:livelearning@uq.edu.au" target="_top">livelearning@uq.edu.au</a>.
                            </div>
                        </div>
               </div>

               <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseNine" href="">How long will it take for my data to be uploaded?</a>
                            </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse">
                            <div class="panel-body">
                                We aim to have the data uploaded within a fortnight of receiving it.
                            </div>
                        </div>
               </div>

               <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTen" href="">Can I edit a data record once it has been uploaded?</a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse">
                            <div class="panel-body">
                                You will need to contact <a href="http://uq.edu.au/heron-island-research-station/">Heron Island Research Station</a> at <a href="mailto:livelearning@uq.edu.au" target="_top">livelearning@uq.edu.au</a> in order to have a data record changed. In order to avoid this, please ensure that all of your information and data are correct prior to sending it to us for upload.
                            </div>
                        </div>
               </div>

               <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEleven" href="">Do I need to pay for sharing my research data?</a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse">
                            <div class="panel-body">
                                No, we believe in open-access data sharing and would never charge for the upload or download of information.
                            </div>
                        </div>
               </div>

               <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwelve" href="">What methods were conducted to collect the data in the Live Learning Library?</a>
                            </h4>
                        </div>
                        <div id="collapseTwelve" class="panel-collapse collapse">
                            <div class="panel-body">
                                If you click into a record from the <a href="#data">Data Search Page</a> there will be specific information outlining the methods used to collect that data.
                            </div>
                        </div>
               </div>

               <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThirteen" href="">Who collected the data?</a>
                            </h4>
                        </div>
                        <div id="collapseThirteen" class="panel-collapse collapse">
                            <div class="panel-body">
                                The data comes from a variety of sources including the Live Learning Program (see FAQ <a class="faqquestions" href="" data-target="collapseFourteen">What is the Live Learning Program</a> for more). If you click into a record from the data search page there will be specific information on who collected the data and contact details should you wish to contact that person about their data.
                            </div>
                        </div>
               </div>

               <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFourteen" href="">What is the Live Learning Program?</a>
                            </h4>
                        </div>
                        <div id="collapseFourteen" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
				The Live Learning Program is a citizen science based Marine Science Program, for secondary school and tertiary students. It has been designed as a collection of field-based activities that will enhance the student learning experience and form long-term open access data sets within the Live Learning Library for research and management purposes. The program addresses the growing need for hands-on learning opportunities for students that enhance and develop practical skills. Data collection for the Live Learning Program is based around surveying, measuring and sampling of habitats and organisms on the island and surrounding waters. Activities include running transects and quadrats, as well as various sampling and collection exercises.
				</p>
				<p>
				For enquiries about the program and the activities offered please contact Heron Island’s Education Officer Lauren Bailey on <a href="mailto:l.bailey@uq.edu.au" target="_top">l.bailey@uq.edu.au</a>. For general booking enquiries please contact <a href="http://uq.edu.au/heron-island-research-station/">Heron Island Research Station</a> at <a href="mailto:hirs@uq.edu.au" target="_top">hirs@uq.edu.au</a>.
				</p>
                            </div>
                        </div>
               </div>

               <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFifteen" href="">Where can I conduct activities as part of the Live Learning Program?</a>
                            </h4>
                        </div>
                        <div id="collapseFifteen" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
				At present, the program is running on <a href="http://uq.edu.au/heron-island-research-station/">Heron Island Research Station</a> (HIRS) which attracts over 2,500 visitors from 60 institutions to undertake field coursework every year.
				</p>
				<p>
				For enquiries about the program and the activities offered please contact Heron Island’s Education Officer Lauren Bailey on <a href="mailto:l.bailey@uq.edu.au" target="_top">l.bailey@uq.edu.au</a>. For general booking enquiries please contact Heron Island Research Station at <a href="mailto:hirs@uq.edu.au" target="_top">hirs@uq.edu.au</a>.
				</p>
                            </div>
                        </div>
               </div>

               <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSixteen" href="">How is the Live Learning Program/Library funded?</a>
                            </h4>
                        </div>
                        <div id="collapseSixteen" class="panel-collapse collapse">
                            <div class="panel-body">
                                The Live Learning Program and the Live Learning Library are supported by Boeing, the <a href="https://barrierreef.org">Great Barrier Reef Foundation</a>, and <a href="http://uq.edu.au">The University of Queensland</a>.
                            </div>
                        </div>
               </div>

               <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSeventeen" href="">How do I know the data is reliable?</a>
                            </h4>
                        </div>
                        <div id="collapseSeventeen" class="panel-collapse collapse">
                            <div class="panel-body">
                                <a href="http://uq.edu.au/heron-island-research-station/">Heron Island Research Station</a>’s scientific staff have assessed the data prior to upload to ensure accuracy to the best of our ability. Citizen science projects such as the Live Learning Program produce datasets that would otherwise be difficult and time consuming to generate. Publications have shown that citizen data can be just as accurate as that of professionals and can be used effectively to advance scientific knowledge and influence policy (<a href="http://onlinelibrary.wiley.com/doi/10.1002/fee.1436/pdf">Kosmala et al. 2016</a>).
                            </div>
                        </div>
               </div>

               <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEighteen" href="">What locations are the data collected from?</a>
                            </h4>
                        </div>
                        <div id="collapseEighteen" class="panel-collapse collapse">
                            <div class="panel-body">
                                All data entries come with coordinates informing you of the location of collection. This can be seen on the map search function on the <a href="#data">Data Search Page</a> or in the metadata of <a href="#data">a data record</a>.
                            </div>
                        </div>
               </div>

               <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseNineteen" href="">How do I make an account and log in to the portal?</a>
                            </h4>
                        </div>
                        <div id="collapseNineteen" class="panel-collapse collapse">
                            <div class="panel-body">
                                You do not need to log in, this section is for staff who monitor the portal, if you would like to send data to us for upload please see FAQ <a class="faqquestions" href="" data-target="collapseSix">How can I upload data I have collected</a> for instructions.
                            </div>
                        </div>
               </div>

               <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwenty" href="">Does my data need to be in a particular file format or size?</a>
                            </h4>
                        </div>
                        <div id="collapseTwenty" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
				While this repository supports the upload of any data file format, sharing data can be greatly enhanced if you use ubiquitous, easy-to-read formats. For instance, while Microsoft Excel files are commonplace, it's better to export these spreadsheets to Comma Separated Values (CSV) text files, which can be read on any computer without having Microsoft products installed.
				</p>
				<p>
				To prepare for upload, it's good to have your files in order. You might want to take a look at some <a href="http://www.dataone.org/best-practices">best practices</a> for <a href="http://onlinelibrary.wiley.com/doi/10.1890/0012-9623-90.2.205/abstract">managing your data files</a>. For a given project, perhaps you have six data files, and one document that describes the methods that you used to collect or analyse your data. Collect these files into a single directory, and name them with short but descriptive names. Try to avoid spaces in your file names, but rather use dashes "-" or underscores "_".	
				</p>
				<p>
				For image files, use common formats like PNG, JPEG, TIFF, etc. If you use specialized software to create your data, try to save your data in well-known formats. For instance, GIS data can be exported to ESRI shapefiles, and data created in Matlab or other matrix-based programs can be exported as <a href="http://www.unidata.ucar.edu/software/netcdf/">NetCDF</a> (an open binary format).
				</p>
                            </div>
                        </div>
               </div>
               <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwentyOne" href="">What browser should I use?</a>
                            </h4>
                        </div>
                        <div id="collapseTwentyOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                The Live Learning Library is compatible with the most recent versions of common browsers such as Google Chrome, Safari, Firefox, and Internet Explorer.
                            </div>
                        </div>
               </div>
               <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwentyTwo" href="">Why is it important to make data openly accessible?</a>
                            </h4>
                        </div>
                        <div id="collapseTwentyTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                There are many reasons to make data openly accessible, for example some journals and funding agreements require researchers to make their data publically available upon submission. Additionally open databases allow for easy access and long-term storage and preservation. For more see the <a href="https://www.nhmrc.gov.au/guidelines-publications/r39">Australian Code for the Responsible Conduct of Research</a>.
                            </div>
                        </div>
               </div>
               <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwentyThree" href="">I’m having technical issues with the library, what should I do?</a>
                            </h4>
                        </div>
                        <div id="collapseTwentyThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                If you are experiencing a glitch or other technical issue with the Live Learning Library please contact Heron Island Scientific Staff at <a href="mailto:livelearning@uq.edu.au">livelearning@uq.edu.au</a> with a description of the difficulty you have encountered. 
                            </div>
                        </div>
               </div>
               <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwentyFour" href="">More questions?</a>
                            </h4>
                        </div>
                        <div id="collapseTwentyFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <a target="_blank" href=" https://www.uq.edu.au/heron-island-research-station/staff-contact">Contact us</a>
                            </div>
                        </div>
               </div>

        </div>
    </div>
  </div>
</article>

